

<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki body" %>
  </div>

  <div class="form-group">
    <%= label_tag(:collaborator_email, "Collaborators:") %>
    <%= text_field_tag :collaborator_email, nil, placeholder: "lorbo@lorbosdomain.com" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
<% end %>
